@model Ollo_InventorySystem.Models.LteRouter

@{
    ViewBag.Title = "title";
    var lteRouterInfo = ViewBag.LteRouterInfo;
}

<h2>Edit Router Info</h2>

<div>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Edit Lte Router</legend>
            <table>
                
                <tr>
                    <td>@Html.LabelFor(m => m.ItemCode)</td>
                    <td>
                        @Html.TextBoxFor(m => m.ItemCode)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Batch)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Batch)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Imei)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Imei)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ItemDescription)</td>
                    <td>
                        @Html.TextBoxFor(m => m.ItemDescription)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Mac)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Mac)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Serial)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Serial)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Tag)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Tag)
                    </td>
                </tr>
                <tr>
                    <td>@Html.HiddenFor(m=>m.Id)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Update"/>
                    </td>
                </tr>
                <tr><td>@ViewBag.Message</td></tr>
            </table>
        </fieldset>
        
    }
</div>
