@model dynamic

@{
    ViewBag.Title = "View Lte Router";
    
    var LteRouters = ViewBag.LteRouters;
}

<h2>View Lte Routers</h2>

<div>

    <fieldset>
        <legend> Lte Routers</legend>
        <table>
            <tr><th bgcolor="e0e0d1">ItemCode     </th><th bgcolor="e0e0d1"> ItemDescription</th><th bgcolor="e0e0d1">Batch</th><th bgcolor="e0e0d1">TagNo</th><th bgcolor="e0e0d1">SerialNo</th><th bgcolor="e0e0d1">MacId</th><th bgcolor="e0e0d1">Imei</th><th bgcolor="e0e0d1">EDIT</th></tr>
            @{
                foreach (var router in LteRouters)
                {
                    <tr>
                        <td>@router.ItemCode</td>
                        <td>@router.ItemDescription</td>
                        <td>@router.Batch</td>
                        <td>@router.TagNo</td>
                        <td>@router.SerialNo</td>
                        <td>@router.MacId</td>
                        <td>@router.Imei</td>
                        <td>@Html.ActionLink("Edit","EditLteRouter",new {id=router.Id})</td>
                    </tr>
                }
            }
        </table>
    </fieldset>



</div>

@{
    
}