@model dynamic

@{
    ViewBag.Title = "View Lte Router";
    
    var LteRouters = ViewBag.LteRouters;
}

<h2>View Lte Routers</h2>

<div>

    <fieldset>
        <legend> Lte Routers</legend>
        <table class="viewlists">
            <tr><th >Item-Code     </th><th > Description</th><th >Batch</th><th >Tag</th><th >Serial</th><th >Mac</th><th >Imei</th><th >EDIT</th></tr>
            @{
                foreach (var router in LteRouters)
                {
                    <tr>
                        <td>@router.ItemCode</td>
                        <td>@router.ItemDescription</td>
                        <td>@router.Batch</td>
                        <td>@router.Tag</td>
                        <td>@router.Serial</td>
                        <td>@router.Mac</td>
                        <td>@router.Imei</td>
                        <td>@Html.ActionLink("Edit", "EditLteRouter", new { id = router.Id })</td>
                    </tr>
                }
            }
        </table>
    </fieldset>



</div>

@{
    
}